@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Registration Management System</h1>
    <p>Select top menu Registration to register students for courses</p>
    
</div>